# Python Basics

## Variables:
    - To stores a value
    - To change a value
    Syntax:
        variablename = value

In [1]:
a = 20
a

20

In [2]:
b = 23.012
b

23.012

In [3]:
a
b

23.012

In [4]:
b
a

20

In [5]:
a,b

(20, 23.012)

## Variable Assignments
    - single variable equal to single value
    - n number of variables equal to n number of values
    - n number of varialbes equal to single value
    - single variable equal to n number of values

In [6]:
# single variable to single value
q = 45
y = 12.024
q,y

(45, 12.024)

In [8]:
# n number of variables to n number of values 
z,b = 30,56.0121
z,b

(30, 56.0121)

In [9]:
a,b,c = 12,25.0121,"kishore",'12'
a,b,c

ValueError: too many values to unpack (expected 3)

In [10]:
a,b,c,d,e = 12,25.0121,"kishore",'12'
a,b,c,d,e

ValueError: not enough values to unpack (expected 5, got 4)

In [11]:
# n nuumber of variables to single value
q = w = r = 250
q,w,r

(250, 250, 250)

In [12]:
# single variable to n number of values
b = 15,56.015,"Lokesh",'450'
b

(15, 56.015, 'Lokesh', '450')

## Data Types:
    - int => Only numbers
    - float => numbers and decimal values
    - string => enclosed with ' or "
    - complex => real and imaginary
    - boolean => True or False
    - none => None
    - All Data Structures[List,Tuple,Set and Dictionary]

## Type:
    - To know the data type of a variable
    Syntax:
        type(variablename)

In [13]:
b = '35'
b,type(b)

('35', str)

In [14]:
c = '93'
print(c,type(c))
c,type(c)

93 <class 'str'>

('93', str)

In [15]:
d = 35
print(d,type(d))
d,type(d)

35 <class 'int'>

(35, int)

In [16]:
a,b,c,d,e,f = 14,56.01221,5+6j,True,None,'Lokesh'
print(a,type(a))
print(b,type(b))
print(c,type(c))
print(d,type(d))
print(e,type(e))
print(f,type(f))

14 <class 'int'>
56.01221 <class 'float'>
(5+6j) <class 'complex'>
True <class 'bool'>
None <class 'NoneType'>
Lokesh <class 'str'>